@use "../settings" as *;

.About {
  .collapse-container {
    max-width: 1023px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .About {
    .collapse-container {
      gap: 20px;
    }
  }
}
