.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 209px;
  gap: 29px;
  padding-top: 45px;
  margin-top: 50px;

  &__logo img {
    width: 122px;
  }

  &__copyright {
    color: white;
    font-size: 24px;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    gap: 10px;
    margin-top: 27px;

    &__copyright p {
      width: 133px;
      font-size: 12px;
      text-align: center;
    }
  }
}
