@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

// Variables Sass
$font: "Montserrat", sans-serif;
$header-font-size: 48px;
$main-color: #ff6060;
$bg-grey: #f6f6f6;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.container {
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
  font-weight: 500;
  line-height: 143%;
}

p {
  font-size: 18px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
